* {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --main-bg-color: #F3F3EF;
    --surface-color: #fff;
    --border-color: #E6E4DE;
    --primary-text-color: #1F2328;
    --secondary-text-color: #5B616A;
    --primary-accent-color: #3E2BEA;
    --accent-hover-color: #160B78;
    --success-color: #59A96E;
    --success-emphasis: #7dcc79;
    --success-container: #274625;
    --secondary-accent-color: #2783D2;

    --sidebar-width: 58px;

    --icon-color: #5B616A;

    --checkbox-color: #2783D2;

    --dark-gray: #5B616A;

    --gray-bg: #FCFCF9;

    --icon-green-color: #59A96E;

    --icon-progress-color: #f6825a;

    --icon-waiting-color: #f98686;

    --icon-submit-color: #85b8ff;

    --filter-primary-color: invert(8%) sepia(4%) saturate(3411%) hue-rotate(174deg) brightness(90%) contrast(85%);
}


*,
::after,
::before,
::backdrop,
::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
}

html,
body {
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-text-color);
    scroll-behavior: smooth;
    font-family: var(--font-sans);
}

::-webkit-scrollbar {
    background: transparent;
    width: 6px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 8px;
}

button {
    cursor: pointer;
}

#demo {
    scroll-margin-top: 100px;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#privacy-content .privacy-loading, #terms-content .term-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 64px;
}